/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
    font-family:"Jiret";
    src:url("../fonts/jiret.eot?") format("eot"),
        url("../fonts/jiret.woff") format("woff"),
        url("../fonts/jiret.ttf") format("truetype"),
        url("../fonts/jiret.svg#EthiopiaJiret") format("svg");
    font-weight:normal;
    font-style:normal;
}
